/* 
 * SER 322 Team 03 Pantry Project
 * Terin Champion
 * Hajar Boughoula
 * Nergal Givarkes
 */
/* 
    Created on : Jun 21, 2017, 7:06:52 PM
    Author     : Terin
*/

body {
    background-color: maroon;
}
h1 {
    background-color: gold;
    color: maroon;
    text-align: center;
    }
h2 {
    background-color: gold;
    color: maroon;
    text-align: center;
    }
p {
    text-align: center;
}
form {
    text-align: center;
}

table {
    
    align-self: center;
    border: 3px solid black;
    border-collapse: collapse;
    background-color: gray;
    color: black;
    
}

th, td {
    padding: 10px;
    border: 3px solid black;
    text-align: left;
}

.topnav{
    background-color: black;
    overflow: hidden;
    position: relative; 
}

.topnav a {
    float: left;
    display: block;
    color: gold;
    text-align: center;
    padding: 15px 15px;
}

.topnav a:hover {
    background-color: gray;
}

.topnav a.active {
    background-color: gold;
    color: maroon;
}

.recipe{
    background-color: gray;
    border: 2px solid black;
    text-align: left;
}


