/* 
 * SER 322 Team 03 Pantry Project
 * Terin Champion
 * Hajar Boughoula
 * Nergal Givarkes
 */
/* 
    Created on : Jun 21, 2017, 7:06:52 PM
    Author     : Terin
*/

body {
    background-color: maroon;
}
h1 {
    background-color: gold;
    color: maroon;
    text-align: center;
    }
h2 {
    background-color: gold;
    color: maroon;
    text-align: center;
    }
p {
    text-align: center;
}
form {
    text-align: center;
}

.topnav{
    background-color: black;
    overflow: hidden;
    position: relative; 
}

.topnav a {
    float: left;
    display: block;
    color: gold;
    text-align: center;
    padding: 15px 15px;
}

.topnav a:hover {
    background-color: gray;
}

.topnav a.active {
    background-color: gold;
    color: maroon;
}
#table1{
    border: 0;
    margin: 0 auto;
    margin-top: 50px;
    
}

#tr1{
    color: maroon;
    background: gold;
    
}
#td2{
    color: gold;
    
}
#td3{
    text-align: center;
    
}
#td4{
    width: 150px;
    text-align: center;
}
#td5{
    width: 15px;
    text-align: center;
}
#input1{
    float: right;
    
}
#td1{
    width: 300px;
    text-align: center;
    
    
}
#Home{
    
    float: right;
    margin: 150px 100px 0 0;
    color: white;
    
}

